<!DOCTYPE html>
<html lang="en">

<head>
  <title>Roman Numerals Conversion</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>

  <div class="container h-100 bg-light text-dark">
    <div class="row justify-content-center align-items-center pt-3">
      <h1 class="display-4">Roman Numerals Conversion</h1>
    </div>
    <div class="row justify-content-center align-items-center pt-3">
      <p classs="h5">(monolithic)</p>
    </div>
    <br>
    <div class="row justify-content-center align-items-center h-100">
      <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3">
        <form action="/convert" method="GET">
          <div class="form-group">
            <label for="number">Enter a number</label>
            <input type="number" class="form-control" id="number" name="number" value=1987 />
          </div>
          <br>
          <div class="row">
            <span class="glyphicon glyphicon-plus"></span>
            <div class="col text-center">
              <button class="col-6 btn btn-primary">Convert</button>
            </div>
          </div>
      </div>
      </form>
    </div>
  </div>
  </div>

</body>

</html>